*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}




.nav{
    -ms-flex-align: baseline;
    text-transform: uppercase;
    height: 70px;
    width: 100%;
    padding: 14px 30px;
    background-color: black;
    position: relative;
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 550;
    color: white;
    text-align:right;
    padding-top: 30px;
}


body {
    background-image:url('../site_teste/img/fundo.png');
    background-position:right;
    background-size: cover;
    min-height: 100%;
    font-family:sans-serif;
   
}

.floatlef{

    float: left;
    
}

.floatrig{
    align-items: right;  

}

.nav-head{

    display: inline;


}

a{
     text-decoration:none;
     color: white;
     padding-left: 20px;
}

a:hover{
   
    border: 10px;
    background-color: rgb(39, 36, 36);


}

li{
    list-style:none;
    
}

.linha{
    display: flex;
    flex-flow: row wrap;
    }

.coluna-50 {
        width: 50%;
    }

.center{

    align-items: center;

}

